<configuration>
    
	<conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%coloredLevel - %logger - %message%n%xException</pattern>
		</encoder>
	</appender>
  
	<appender name="emju_mylist_appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/share/play_deployment/logs/emju/mylist/emju_mylist.log</file>
		<encoder>
			<pattern>%date{"yyyy-MM-dd HH:mm:ss.SSSXX"} [%level] [%thread] %c: %message%n%xException</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>/share/play_deployment/logs/emju/mylist/emju_mylist-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 5MB -->
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	<appender name="emju_mylist_async_appender" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="emju_mylist_appender" />
	</appender>

	<logger name="appLogger">
		<appender-ref ref="emju_mylist_async_appender" />
	</logger>
	<logger name="com.safeway">
		<appender-ref ref="emju_mylist_async_appender" />
	</logger>

</configuration>
